h1{
    margin: 1rem;
    padding: 1rem;
    color:aquamarine
}
h2{
    display: flex;
    flex-direction: column-reverse;
    background-color: blue;
}
h3{
    background-color: brown;
    font-size: 1 rem;
}
h6{
    margin: 4rem;
    padding-left: 2.5rem;
}